
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
<!--            <img src="https://cdn.shopify.com/s/files/1/1811/9799/files/shoe-logo-new_300x300.png?v=1494509682">-->
            <img th:src="@{/images/shoe-logo.png}">
        </a>

        <nav class="menu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{/products}">Products</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/category/index}">Category</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/product/index}">Products</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/cart/index}">Cart</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/order/index}">Orders</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/payment/index}">Payments</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/image/index}">Images</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#0">Settings</a>
                    <ul>
                        <li><a th:href="@{/users}">Users</a></li>
                        <li><a th:href="@{/setting/index}">Config Settigs</a></li>
                        <li><a th:href="@{/roles}">Roles</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/contact}">Contact Us</a></li>
            </ul>
        </nav>

<!--        <ul class="nav nav-pills">-->
<!--            <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 link-secondary">Home</a></li>-->
<!--            <li class="nav-item"><a th:href="@{/products}" class="nav-link px-2 link-dark">All Products</a></li>-->
<!--            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Category</a>-->
<!--                <div class="dropdown-menu">-->
<!--                    <a class="dropdown-item" th:href="@{/category}">category</a>-->
<!--                    <a class="dropdown-item" th:href="@{/category/create}">create</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Product</a>-->
<!--                <div class="dropdown-menu">-->
<!--                    <a class="dropdown-item" th:href="@{/product}">category</a>-->
<!--                    <a class="dropdown-item" th:href="@{/product/create}">create</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Settings</a>-->
<!--                <div class="dropdown-menu">-->
<!--                    <a class="dropdown-item" th:href="@{/users}">Users</a>-->
<!--                    <a class="dropdown-item" th:href="@{/addresses}">Addresses</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="nav-item"><a th:href="@{/contact}" class="nav-link px-2 link-dark">Contact Us</a></li>-->
<!--        </ul>-->

         <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}"><button type="button" class="btn btn-outline-primary me-2"><i class="fa fa-lock-open"></i> Login</button></a>
            <a th:href="@{/register}" class="col-md-3 text-end"><button type="button" class="btn btn-outline-primary me-2"><i class="fa fa-user-plus"></i> Sign-up</button></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/cart-detail}"><button type="button" class="btn btn-outline-primary me-2"><i class="fa fa-shopping-cart"></i> <span class="badge badge-light" th:text="${#session.getAttribute('totalItem')}"></span></button></a>
            <a th:href="@{/logout}"><button type="button" class="btn btn-outline-primary me-2"><i class="fa fa-lock"></i> Logout</button></a>
        </div>
</header>