<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create User</title>
</head>

<body>
<div class="page-wrapper" layout:fragment="content">
    <div class="card m-4">
        <div class="card-header">
            <h5 class="card-title">Create</h5>
            <h6 class="card-subtitle text-muted">Account</h6>
        </div>
        <div class="card-body">
            <form method="post" th:object="${account}" th:action="@{/account}">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputAccount4">Account Number</label>
                        <input type="text" class="form-control" id="inputAccount4" placeholder="AccountNumber" th:field="*{accountNumber}" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputAccount5">Account Name</label>
                        <input type="text" class="form-control" id="inputAccount5" placeholder="AccountName" th:field="*{accountName}" />
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="inputBalance">Balance</label>
                        <input type="text" class="form-control" id="inputBalance" th:field="*{balance}" />
                    </div>
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="inputState">Currency</label>
                        <select id="inputState" class="form-control" th:field="*{currency}">
                            <option selected value="">Choose...</option>
                            <option value="TZS">Tanzania Shilling</option>
                            <option value="USD">US Dollar</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="inputState">Status</label>
                        <select id="inputState1" class="form-control" th:field="*{status}">
                            <option selected value="false">Choose...</option>
                            <option value="true">Activate</option>
                            <option value="false">Diactivate</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputState">Customer</label>
                    <select id="inputState2" class="form-control" th:field="*{customerId}">
                        <option selected th:value="${0}">Choose...</option>
                        <option th:each="usr:${users}" th:value="${usr.getId()}" th:text="${usr.getFirstName() + ' ' + usr.getLastName()}">Customer Name</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
