<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accounts</title>
</head>

<body>
<div class="page-wrapper" layout:fragment="content">
    <div class="container mt-5">
        <h3 class="card-title mb-3 float-left pull-left">Accounts</h3>
        <div class="card flex-fill">
            <div class="card-header">

                <span class="h3 pull-left float-start text-lg-start">
                    <!-- BEGIN primary modal -->
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#centeredModalPrimary1">
                        <i class="fa fa-plus-square"></i> Deposit
                    </button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#centeredModalPrimary2">
                        <i class="fa fa-minus-square"></i> Widthdraw
                    </button>
                    <div class="modal fade" id="centeredModalPrimary1" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <form method="post" th:action="@{/account/deposit}" th:object="${deposit}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Deposit Money</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body m-3">
                                    <p class="mb-0">Please confrim customer details before deposit</p>


                                    <div class="card-body">

										<div class="mb-3">
											<label class="form-label">Account Number</label>
											<input type="text" class="form-control" required placeholder="Account Number" th:field="*{accountNumber}" />
										</div>
										<div class="mb-3">
											<label class="form-label">Amount</label>
											<input type="text" class="form-control" required placeholder="Amount" th:field="*{amount}" />
										</div>
										<div class="mb-3">
											<label class="form-label">Description</label>
											<textarea class="form-control" placeholder="Description" required rows="2" th:field="*{description}"></textarea>
										</div>

								</div>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" th:onsubmit="return confirm('You are going to deposit amount to account ?')">Deposit Amount</button>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal fade" id="centeredModalPrimary2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <form method="post" th:action="@{/account/withdraw}" th:object="${withdraw}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Withdraw Money</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body m-3">
                                    <p class="mb-0">Please confrim customer details before withdraw</p>


                                    <div class="card-body">

										<div class="mb-3">
											<label class="form-label">Account Number</label>
											<input type="text" class="form-control" required placeholder="Account Number" th:field="*{accountNumber}" />
										</div>
										<div class="mb-3">
											<label class="form-label">Amount</label>
											<input type="text" class="form-control" required placeholder="Amount" th:field="*{amount}" />
										</div>
										<div class="mb-3">
											<label class="form-label">Description</label>
											<textarea class="form-control" placeholder="Description" required rows="2" th:field="*{description}"></textarea>
										</div>

								</div>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" th:onsubmit="return confirm('You are going to widthdraw amount to account ?')">Withdraw Amount</button>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- END primary modal -->
                </span>
                <span class="h3 pull-right float-end text-lg-end"><a th:href="@{/account/create}"><button class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i> Create</button></a></span>

            </div>
            <table class="table table-hover my-0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>AccountName</th>
                    <th>AccountNumber</th>
                    <th>Balance</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th class="d-none d-xl-table-cell">Created Date</th>
                    <th class="d-none d-xl-table-cell">Modified Date</th>

                    <th class="d-none d-md-table-cell">Action</th>
                </tr>
                </thead>
                <tbody th:if="${accounts.page.totalPages > 0}">
                <tr th:each="account:${accounts.page}">
                    <td th:text="${accountStat.index + 1}">1</td>
                    <td th:text="${account.getAccountName()}">AccountName</td>
                    <td th:text="${account.getAccountNumber()}">AccountNumber</td>
                    <td th:text="${account.getFormatedBalance()}">Balance</td>
                    <td th:text="${account.getCurrency()}">Currency</td>
                    <td>
                        <div th:if="${!account.isStatus()}">
                            <span class="badge bg-success rounded-pill d-inline"><i class="fa fa-lock-open"></i> </span>
                        </div>
                        <div th:unless="${!account.isStatus()}">
                            <span class="badge bg-warning rounded-pill d-inline"><i class="fa fa-lock"></i> </span>
                        </div>
                    </td>
                    <td class="d-none d-xl-table-cell" th:text="${account.getCreatedDate()}" >01/01/2021</td>
                    <td class="d-none d-xl-table-cell" th:text="${account.getLastModifiedDate()}">31/06/2021</td>
                    <td class="table-action">
                        <a th:href="@{'/account/view/' + ${account.getId()}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye align-middle me-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></a>
                        <a th:href="@{'/account/edit/' + ${account.getId()}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle me-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
<!--                        <a th:href="@{'/account/delete/' + ${user.getId()}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>                    -->
                    </td>
                </tr>
                </tbody>
                <tbody th:unless="${accounts.page.totalPages > 0}">
                    <tr>
                        <td colspan="9">No Data Available</td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatables-reponsive_paginate" th:if="${accounts.page.totalPages > 1}">


                        <ul  th:style="${'list-style-type:none'}" class="pagination" th:if="${accounts.page.totalPages > 1}">
                            <li class="page-item" th:classappend="${!accounts.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link" th:href="@{'/account/?pageNumber=' + ${accounts.paging.pageNumber - 1}}"
                                   tabindex="-1"> <span aria-hidden="true">«</span></a>
                            </li>
                            <th:block th:each="item : ${accounts.paging.getItems()}">
                                <li class="page-item" th:classappend="${item.index == accounts.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link" th:href="@{'/account/?pageNumber=' + ${item.index}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:classappend="${!accounts.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link" th:href="@{'/account/?pageNumber=' + ${accounts.paging.pageNumber + 1}}"><span aria-hidden="true">»</span></a>
                            </li>

                        </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>

</body>
</html>