<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accounts</title>
</head>

<body>
<div class="page-wrapper" layout:fragment="content">
    <div class="container mt-5">
        <div class="container-fluid p-0">

            <div class="row">

                <div class="col-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title" th:text="${'Account#:' + account.getAccountNumber()}"></h5>
                            <h6 class="card-subtitle text-primary text-lg-end" th:text="${'Balance[' + account.getFormatedBalance() + ']'}"></h6>
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width:25%">AccountName</th>
                                <td class="d-none d-md-table-cell"  th:text="${account.getAccountName()}">AccountName</td>
                            </tr>
                            <tr>
                                <th style="width:25%">AccountType</th>
                                <td class="d-none d-md-table-cell"  th:text="${account.getAccountType()}">AccountType</td>
                            </tr>
                            <tr>
                                <th style="width:25%">Currency</th>
                                <td class="d-none d-md-table-cell"  th:text="${account.getCurrency()}">Currency</td>
                            </tr>
                            <tr>
                                <th style="width:25%">Enabled?</th>
                                <td class="d-none d-md-table-cell">
                                    <div th:if="${account.isStatus()}">
                                        <span class="badge bg-success rounded-pill d-inline"><i class="fa fa-check"></i></span>
                                    </div>
                                    <div th:unless="${account.isStatus()}">
                                        <span class="badge bg-warning rounded-pill d-inline"><i class="fa fa-times"></i></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2" th:if="${account.isStatus()}">
                                    <button class="btn btn-outline-warning">Lock Account</button>
                                </td>
                                <td colspan="2" th:unless="${account.isStatus()}">
                                    <button class="btn btn-outline-info">UnLock Account</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>