<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create User</title>
</head>

<body>
<div class="page-wrapper" layout:fragment="content">

    <div class="card m-4">
        <div class="card-header">
            <h5 class="card-title">Create</h5>
            <h6 class="card-subtitle text-muted">Customer/User</h6>
        </div>
        <div class="card-body">
            <div class="">
                <form method="post" th:object="${user}">
                    <div class="row">
                        <div class="col-md-6 px-2">
                            <label class="form-label">First Name</label>
                            <input class="form-control form-control-lg" type="text" name="firstname" placeholder="Enter your First Name" th:field="*{firstName}" />
                        </div>
                        <div class="col-md-6 px-2">
                            <label class="form-label">Last Name</label>
                            <input class="form-control form-control-lg" type="text" name="lastname" placeholder="Enter your Last Name" th:field="*{lastName}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 px-2">
                            <label class="form-label">Username</label>
                            <input class="form-control form-control-lg" type="text" name="username" placeholder="Enter your Username" th:field="*{username}" />
                        </div>
                        <div class="col-md-6 px-2">
                            <label class="form-label">Password</label>
                            <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your Password" th:field="*{password}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 px-2">
                            <label class="form-label">Email</label>
                            <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your Email" th:field="*{email}" />
                        </div>
                        <div class="col-md-6 px-2">
                            <label class="form-label">Mobile</label>
                            <input class="form-control form-control-lg" type="text" name="mobile" placeholder="Enter your Mobile" th:field="*{mobile}" />
                        </div>
                    </div>
                    <div class="text-lg-start mt-3">
                        <button type="submit" class="btn btn-lg btn-outline-primary"><i class="fa fa-plus-circle"></i> Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
