<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accounts</title>
</head>

<body>
<div class="page-wrapper" layout:fragment="content">
    <div class="container mt-5 mb-7">
<!--        <h3 class="card-title mb-3 float-left pull-left">Transactions</h3>-->
        <div class="card flex-fill">
            <div class="card-header">
                Check Book Requests
            </div>
            <table class="table table-hover my-0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>CustomerName</th>
                    <th>Approved?</th>
                    <th>Collected</th>
                    <th>CreatedDate</th>
                    <th>CollectedDate</th>
                    <th class="d-none d-md-table-cell">Action</th>
                </tr>
                </thead>
                <tbody th:if="${checkBookRequests.page.totalPages > 0}">
                <tr th:each="checkBookRequest:${checkBookRequests.page}">
                    <td th:text="${checkBookRequestStat.index + 1}">1</td>
                    <td th:text="${checkBookRequest.getUser().getUsername()}">CustomerName</td>

                    <td>
                        <div th:if="${checkBookRequest.isApproved()}">
                            <span class="badge bg-success rounded-pill d-inline"><i class="fa fa-check-circle"></i></span>
                        </div>
                        <div th:unless="${checkBookRequest.isApproved()}">
                            <span class="badge bg-warning rounded-pill d-inline"><i class="fa fa-times-circle"></i></span>
                        </div>
                    </td>
                    <td>
                        <div th:if="${checkBookRequest.isCollected()}">
                            <span class="badge bg-success rounded-pill d-inline"><i class="fa fa-check-circle"></i></span>
                        </div>
                        <div th:unless="${checkBookRequest.isCollected()}">
                            <span class="badge bg-warning rounded-pill d-inline"><i class="fa fa-times-circle"></i></span>
                        </div>
                    </td>

                    <td th:text="${checkBookRequest.getCreatedDate()}">Created Date</td>
                    <td th:text="${checkBookRequest.getCollectedDate()}">Collected Date</td>
                    <td class="table-action">
                        <a class="px-3" th:href="@{'/check-book-request/view/' + ${checkBookRequest.getId()}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye align-middle me-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></a>
                        <a  th:href="@{'/check-book-request/approve/' + ${checkBookRequest.getId()}}" class="btn btn-outline-warning px-2 mx-2"> Approve</a>
                        <a  th:href="@{'/check-book-request/collected/' + ${checkBookRequest.getId()}}" class="btn btn-outline-success px-2 mx-2"> Mark Collected</a>

                    </td>
                </tr>
                </tbody>
                <tbody th:unless="${checkBookRequests.page.totalPages > 0}">
                    <tr>
                        <td colspan="9">No Data Available</td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatables-reponsive_paginate" th:if="${checkBookRequests.page.totalPages > 1}">


                        <ul  th:style="${'list-style-type:none'}" class="pagination" th:if="${checkBookRequests.page.totalPages > 1}">
                            <li class="page-item" th:classappend="${!checkBookRequests.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link" th:href="@{'/check-book-request/?pageNumber=' + ${checkBookRequests.paging.pageNumber - 1}}"
                                   tabindex="-1"> <span aria-hidden="true">«</span></a>
                            </li>
                            <th:block th:each="item : ${checkBookRequests.paging.getItems()}">
                                <li class="page-item" th:classappend="${item.index == checkBookRequests.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link" th:href="@{'/check-book-request/?pageNumber=' + ${item.index}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:classappend="${!checkBookRequests.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link" th:href="@{'/check-book-request/?pageNumber=' + ${checkBookRequests.paging.pageNumber + 1}}"><span aria-hidden="true">»</span></a>
                            </li>

                        </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>

</body>
</html>